li.nav-item.active, li.nav-item:not(.active):hover {
    border-bottom: 2px solid black;
}

img.logo{
    height: 150px;
}


body.main-container {
    padding-top: 56px;
}

div.app-container {
    margin-top: 12px;
    text-align: left;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transaction-out {
    color: red;
    font-weight: bold;
}

.transaction-in {
    color: green;
    font-weight: bold;
}

.transaction-pending {
    color: orange;
    font-weight: bold;
}

.transaction-approved {
    color: green;
    font-weight: bold;
}

.transaction-declined {
    color: red;
    font-weight: bold;
}

img.moveImage{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

a.scissors img, img.scissors{
    background-image: url('../img/sc.png');

    background-color: yellow;

}

a.scissors-inactive img, img.scissors-inactive{
    background-image: url('../img/sc-inactive.png');
}

a.rock img, img.rock{
    background-image: url('../img/rock.png');
}

a.rock-inactive img, img.rock-inactive{
    background-image: url('../img/rock-inactive.png');
}

a.paper img, img.paper{
    background-image: url('../img/paper.png');
}

a.paper-inactive img, img.paper-inactive{
    background-image: url('../img/paper-inactive.png');
}

div.moveRow > div{
    min-height: 90px;
    vertical-align:middle;
}

div.moveRow > div > h3{
    padding-top: 20px;
}

div.game{
    margin-top: 20px;
    margin-bottom: 20px;
}

.started{
    color: orangered;    
}

.completed{
    color: green;    
}

h3.winner{
    color: green;    
}

div.pageLoader {
    border: 24px solid #f3f3f3;
    border-radius: 50%;
    border-top: 24px solid #3498db;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: 300px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }